{% extends "store/main.html" %}
{% load static%}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <p>{{ request.user.username }}</p>
                <p>{{ request.user.email}}</p>
                <p>{{ request.user.userprofile.address }}</p>
                <p>{{ request.user.userprofile.mobile_number }}</p>
                       
                <div class="shipping-info">
                    <hr>
		            <p>Update shipping address</p>
		            <hr>
                    <form method="post">
                    {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                            id="address" name="address" placeholder="Please enter a descriptive address">
                        </div>

                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" id="city" name="city" placeholder="City" aria-label="City">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="mobile_number" name="mobile_mumber" placeholder="Mobile number" aria-label="Mobile number">
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input class="btn btn-success" type="submit" value="Update">
                        </div>
		            </form>
                </div>
            </div>

            <br>
            <div class="box-element" id="payment-info">
	            <small>Payment Options</small>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to cart</a>
                <hr>
                <h4>Your order summary</h4>
                <hr>
                {% for item in  items %}
                    <div class="cart-row">
		                <div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}"></div>
		                <div style="flex:2"><p>{{ item.product.name }}</p></div>
                        <div style="flex:1"><p>x{{item.quantity}}</p></div>
		                <div style="flex:1"><p>Rs. {{ item.product.price|floatformat:2 }}</p></div>
	                </div>
                {% endfor %}
	            <h5>Items:{{ order.get_total_item }}</h5>
	            <h5>Total: Rs. {{ order.get_cart_total|floatformat:2 }}</h5>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <input id="form-button" class="btn-lg btn-dark" type="submit" value="Confirm order">
                </div>
            </div>
            
        </div>
    </div>
{% endblock  %}