{% extends "store/main.html" %}

{% block content%}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'store/Css/login.css' %}">

<form class="login-form" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <h3 class="text" class="h_style">You must Login to use the app.</h3>
    {{ form.non_field_errors }}
    {{ form.username}}
    {{ form.password }}<br>
    <input class="input-btn" type="submit" value="Login">
    <br>
    <p class="text">Or login with the following accounts.</p>
    <a href="#" class="btng">Log in with Gmail</a>
    <a href="#" class="btnf">Log in with Facebook</a><br>
    <p class="text">Don't have an account?<a class="link" href="#">Create an account</a></p>
</form>

<script>
    document.getElementById("id_username").placeholder = "Username";
    document.getElementById("id_password").placeholder = "Enter password";
</script>

{% endblock %}