{% extends 'store/main.html' %}

{% block content%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'store/Css/register.css' %}">

<form class="container" action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <h2 class="h-style">Create an Account</h2><br>
        {{ form.username }}
        {{ form.errors.username }}

        {{ form.first_name }}
        {{ form.errors.first_name }}
    
        {{ form.last_name }}
        {{ form.errors.last_name }}
    
        {{ form.email }}
        {{ form.address }}
   
        {{ form.password }}
        {{ form.password2 }}
        {{ form.non_field_errors }}

    <input class="input-btn" type="submit" value="Sign Up">
    <br><br>
    <p class="text">Already have an account?<a href="{% url 'login' %}">Login</a></p>
</form>
{% endblock %}